
.errorClass{
    color: crimson;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #1DA1F2;
}
.icon{
    position: absolute;
    right: 0;
}
ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}
.resetButton{
    text-align: center;
}


@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: #1DA1F2;
    }
    ion-col {
        border: none;
    }
}