
<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Reset Password</h4>
      </div>

      <form #ResetForm="ngForm" role="form" (ngSubmit)="onSubmit(ResetForm.form.valid)" autocomplete="Off">
        <div padding>
          <ion-item>
            <ion-input name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control" type="password"
              placeholder="Password" required autocomplete="Off">
              <ion-icon name="key" class="icon"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="password.errors && ( (password.dirty || password.touched) || ResetForm. _submitted )">
            <div class="errorClass" [hidden]="!password.errors.required">
              Password is required.
            </div>
          </div>

          <ion-item>
            <ion-input name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" class="form-control"
              type="password" placeholder="Confirm Password" required autocomplete="Off">
              <ion-icon name="key" class="icon"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="confirmPassword.errors && ( (confirmPassword.dirty || confirmPassword.touched) || ResetForm. _submitted )">
            <div class="errorClass" [hidden]="!confirmPassword.errors.required">
              Confirm Password is required.
            </div>
          </div>
          <div class="errorClass" *ngIf="model.password !== model.confirmPassword && !confirmPassword.errors">
            password don't match.
          </div>

          <div class="resetButton" padding>
            <ion-button type="submit" size="default" href="javascript:void(0)" expand="round" [disabled]="!ResetForm.form.valid || model.password !== model.confirmPassword">Reset
              Password</ion-button>
          </div>

        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>