<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Forgot Password</h4>
      </div>

      <form #ForgotForm="ngForm" role="form" (ngSubmit)="onSubmit(ForgotForm.form.valid)" autocomplete="Off">
        <div padding>
          <ion-item>
            <ion-input name="email" type="email" [(ngModel)]="model.email" #email="ngModel" class="form-control" type="text"
              placeholder="Enter email id" required autocomplete="Off" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <ion-icon name="mail" class="icon"></ion-icon>
            </ion-input>
          </ion-item>
          <div *ngIf="email.errors && ( (email.dirty || email.touched) || ForgotForm. _submitted )">
            <div class="errorClass" [hidden]="!email.errors.required">
              Email is required.
            </div>

            <div class="errorClass" *ngIf="email.errors.pattern && model.email">
              Email is not valid.
            </div>
          </div>

          <div class="forgotPasswordButtons" padding>
            <ion-button type="submit" size="default" href="javascript:void(0)" *ngIf="isProcessing" expand="round">
              <ion-spinner name="bubbles"></ion-spinner>
            </ion-button>
            <ion-button type="submit" size="default" href="javascript:void(0)" *ngIf="!isProcessing" expand="round" [disabled]="!ForgotForm.form.valid">Submit</ion-button>
          </div>

        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>